$primary: #4caf4f;
$primary-hover: #1B5E1F;
$gray: #f5f7fa;
$title-color: #4d4d4d;
$text-color: #717171;
$footer-bg: #263238;
$link-color-header: #18191f;
body{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-image: url("https://usine-a-sites.s3-eu-west-1.amazonaws.com/apfr/Images/LP/bas+gauche+1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    background-attachment: fixed;
    position: relative;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

@mixin flexCenter($justify-content){
    display: flex;
    justify-content: $justify-content;
}