@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import 'general';

h1{
    font-size: 5rem;
    color: rgb(27, 255, 92);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    color: $title-color;
}
h2{
    font-size: 2.3rem;
    color: $primary;
}
h3{
    font-size: 1.7rem;
}
p{
    color: $text-color;
}

main{
    background-color: $gray;
}
.btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}
.btn.btn-primary{
    background-color: $primary;
    color: #fff;
    transition: 0.3s all ease-in-out;
}

.btn.btn-primary:hover{
    background-color: $primary-hover;
}
.btn.btn-secondary {
    background-color: transparent;
    color: $primary;
}
.btn-filter{
    background-color: transparent;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
}

.overlay-open{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000092;
    z-index: 1000;
}
/* section container_header*/
.container-fluid.container_header{
    height: 100vh;
    .svgs{
        transform: translateX(75%);
        opacity: 0;
        animation: svgs 1s ease forwards;
    }
}

.right{
    height: 70vh;
    width: 200px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(50px); /* Prise en charge des anciens navigateurs WebKit */
    backdrop-filter: blur(50px); /* Applique un flou à l'arrière-plan */
    margin-right: 0;
    @include flexCenter(space-around);
    flex-direction: column;
    padding-left: 30px;
    border: solid 0.5px rgba(255, 255, 255, 0.048);
    border-radius: 10px;
    box-shadow: 2px 2px 10px white;
}

@keyframes icons{
    to{
        transform: initial;
        opacity: 1;
    }
}

@for $n from 1 through 8 {
    .icon-#{$n} svg{
        transform: translateY(45px);
        width: 35px;
        height: 35px;
        opacity: 0;
        animation: icons 0.5s ease forwards;
        animation-delay: ($n * 0.3s);
    }
}
@keyframes svgs{
    to{
        transform: initial;
        opacity: 1;
    }
}

.slogan{
    box-sizing: border-box;
    padding: 0 100px;
}

.sloganOnScroll{
    margin-top: 70px;
}
/*end style container_header*/

/*section marques*/
.marques-section{
    background-color: #E9F2FF;
    .marques{
        padding: 70px 0;
    }     
}
.marque{
    width: 150px;
    height: 130px;
    border: solid 0.5px rgba(0, 0, 0, 0.149);
    box-shadow: 1px 1px 15px #4caf4faa;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    img{
        width: 100%;
        height: 100px;
    }
}

/* start style infinite scroll animation*/
.scroller {
    max-width: 850px;
    padding-block: 20px;
}
.scroller[data-animated="true"]{
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg, transparent, white 20%, white 80%, transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller_inner {
    display: flex;
    gap: 2rem;
    padding-block: 1rem;
    flex-wrap: wrap;
}
.scroller[data-animated="true"] .scroller_inner{
    flex-wrap: nowrap;
    animation: scroll 
    var(--_animation-duration, 20s) 
    var(--_animation-direction, forwards)
    linear infinite;
    width: max-content;
}
.scroller[data-direction='right']{
    --_animation-direction: forwards;
}
.scroller[data-direction='left']{
    --_animation-direction: reverse;
}

@keyframes scroll {
    to{
        transform: translate(calc(-50% - 1rem));
    }
}
/* end style infinite scroll animation*/
/* end style section marques*/


/* looking-for */
.looking-for{
    .container .row{
        @include flexCenter(center);
        padding-block: 50px;
    }
    .cards{
        @include flexCenter(center);
    }

    &_row{
        border: solid 1px rgba(0, 0, 0, 0.073);
        border-radius: 10px;
        padding: 35px;
        max-width: 550px;
        margin: 0 60px;
    }
    .row-login{
        background-color: #E9F2FF;
    }
    .row-essai{
        background-color: #FFE9F3;
    }
    .card_buttons{
        @include flexCenter(space-between);
        svg{
            width: 40px;
            height: 40px;
        }
    }
}

/* most requested*/
.most-requested{
    padding: 55px 0;
    background-color: #FFE9F3;
    .container{
        margin-bottom: 75px;
        padding-bottom: 50px;
    }
    h2{
        margin-bottom: 30px;
    }
    .row{
        @include flexCenter(center);
        
    }
    .card-1{
        background-image: url('../medias/images/panamera.webp');
    }
    .card-2{
        background-image: url('../medias/images/ferrari_812.webp');
    }
    .card-3{
        background-image: url('../medias/images/avengerlongitude.webp');
    }
    .card{
        width: 310px;
        height: 210px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 12px;
        margin: 0 25px;
        &_body{
            background-color: white;
            width: 85%;
            height: auto;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            padding: 15px 25px;
            box-sizing: border-box;
            position: absolute;
            bottom: -85px;
            left: 24px;
            box-shadow: 0 6px 18px #abbed1d3;
            .body_buttons{
                @include flexCenter(space-between);
                .essai{
                    color: $primary;
                    transition: color 0.5s;
                }
                .essai:hover{
                    color: $primary-hover;
                }
                :first-child{
                    color: $title-color;   
                }
                svg{
                    width: 20px;
                    height: 15px;
                    transform: rotateZ(-17deg);
                    fill: $primary;
                }
            }
            .body-text{
                @include flexCenter(space-between);
            }
            .svgs {
                @include flexCenter(space-between);
                i, svg{
                    width: 20px;
                    height: 20px;
                    color: $primary;
                    fill: #000000;
                }
            }
            .hr-1{
                width: 95%;
                height: 0.5px;
                background-color: #18191f22;
                margin-bottom: 10px;
            }
            .hr-2{
                @extend .hr-1;
            }
        }
    }
}

/*location */

iframe{
    border-radius: 25px;
    margin-bottom: 50px;
}


// section about
.about{
    .about_body{
        
        .row{
            padding-left: 20px;
            margin-left: 10px;
        }
        h5{
            color: $primary;
        }
        
    }
    .about_image{
        background-color: $gray;
        border-radius: 15px;
        height: auto;
        img{
            transition: transform 0.5s, opacity 0.5s;
            object-fit: cover;
            &:hover{
            transform: scale(1.1);
            }
        }
    }
}
// end section about

@media screen and (max-width: 992px){
    .right{
        flex-direction: row;
        height: auto;
        width: auto;
        padding: 20px 10px;
        margin-top: 20px;
        box-shadow: 2px 2px 10px white;
    }
}