@import 'general';
/*header*/
.header{
    position: sticky;
    top: 0;
    padding: 30px;
    z-index: 1000;
    width: 100%;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    &_links-buttons{
        @include flexCenter(space-between);
        align-items: center;
        width: calc(1248px - 240px);
    }
    &_menu {
        li {
            margin: 0 25px;
        }
        ul{
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
        }
    }
    &_container{
        @include flexCenter(space-between);
        align-items: center;
        .logo{
            height: 75px;
        }
    }
    a:not(.btn-primary):hover{
        color: $primary;
    }
    a:not(.btn-primary){
        color: white;
        transition:ease-in-out all 0.3s;
    }
    &_buttons {
        display: flex;
        a:first-of-type{
        margin-right: 10px;
        }
        button{
            background-color: transparent;
            border: none;
            svg{
                width: 30px;
                height: 30px;
                fill: $primary;
            }
        }
        
    }
    &_link-hover{
        position: relative;
    }
    &_link-hover::after{
        content: '';
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 0;
        height: 2px;
        background-color: $primary-hover;
        transition: width 0.4s;
    }
    &_link-hover:hover::after{
        width: 100%;
        left: 0;
    }

}

/* responsive */
@media screen and (max-width: 1045px){
    .header{
        padding: 10px 20px;
        &_links-buttons{
            flex-direction: column;
            justify-content: start;
            position: fixed;
            top: 0;
            right: 0;
            width: 220px;
            height: 100vh;
            background-color: #FFE9F3;
        }
        &_menu{
            ul{
                flex-direction: column;
                align-items: start;
                margin-left: 10px;
                margin-top: 50px;
                li{
                    margin: 10px 0;

                }
            }
        }
        &_buttons{
            flex-direction: column;
            margin-left: 0;
            margin-top: 20px;
            a{
                margin: 5px 0;
            }
        }
        &_container{
            .logo{
                height: 60px;
            }
        }
    }
    
}
/* end style header */


/* style for footer */
.footer{
    background-color: $footer-bg;
    color: white;
    padding: 40px 0;
    .container{
        @include flexCenter(space-around);
    }
    .columns{
        width: 700px;
        @include flexCenter(space-around);
        ul{
            padding-left: 0;
            line-height: 30px;
            margin-top: 25px;
        }
    }

    &_button{
        background-color: transparent;
        border: none;
        position: absolute;
        transform: translate(-130%, 42%);
    }

    &_title strong{
        font-weight: 400;
        color: white;
    }

    &_logo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .reseaux{
            svg{
                width: 25px;
                height: 25px;
                fill: white;
            }
            a{
                margin-right: 20px;
                padding: 0;
                :hover{
                    fill: $primary-hover;
                    transform: translateY(-5deg)
                }
            }
        }
        .logo {
            img{
                height: 75px;
                transform: translateX(-25px);
            }
        }
    }
    a, p{
        color: white;
        font-weight: 200;
    }
}
form{
    position: relative;
    #email{
        padding: 10px 10px;
        border-radius: 8px;
        width: 230px;
        border: none;
        background-color: #d9dbe136;
        color: white;
        :focus{
            outline: none;
        }
        ::placeholder{
            color: rgb(204, 203, 203);
            font-size: 15px;
            font-weight: 100;
        }
    }
}
/* end style for footer */