body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  h1 {
    font-size: 5rem;
    color: rgb(27, 255, 92);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  h3 {
    color: #4d4d4d;
  }
  
  h2 {
    font-size: 2.3rem;
    color: #4caf4f;
  }
  
  h3 {
    font-size: 1.7rem;
  }
  
  p {
    color: #717171;
  }
  /*header*/
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 15px;
    background-color: rgb(3, 3, 68);
    width: 100%;
  }
  .header_links-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1248px;
  }
  .header_menu li {
    margin: 0 25px;
  }
  .header_menu ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_container .logo {
    height: 75px;
  }
  .header a:not(.btn-primary):hover {
    color: #4caf4f;
  }
  .header a:not(.btn-primary) {
    color: white;
    transition: ease-in-out all 0.3s;
  }
  .header_buttons {
    display: flex;
  }
  .header_buttons a:first-of-type {
    margin-right: 10px;
  }
  .header_buttons button {
    background-color: transparent;
    border: none;
  }
  .header_buttons button svg {
    width: 30px;
    height: 30px;
    fill: #4caf4f;
  }
  .header_buttons.secondary-onScroll {
    color: black;
  }
  .header_buttons.secondary-onScroll:hover {
    color: green;
  }
  .header_link-hover {
    position: relative;
  }
  .header_link-hover::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #1B5E1F;
    transition: width 0.4s;
  }
  .header_link-hover:hover::after {
    width: 100%;
    left: 0;
  }
  .header .toggle-button {
    display: none;
    padding: 0;
    margin: 0;
  }
  .header .toggle-button svg {
    width: 30px;
    height: 30px;
    fill: #4caf4f;
  }
  .header.header-onScroll {
    padding: 10px;
    background-color: #FFE9F3;
    position: fixed;
    top: 0;
  }
  
  /* responsive */
  @media screen and (max-width: 1045px) {
    .header {
      padding: 10px 20px;
    }
    .header_links-buttons {
      flex-direction: column;
      justify-content: start;
      position: fixed;
      top: 0;
      right: 0;
      width: 220px;
      height: 100vh;
      background-color: #FFE9F3;
      display: none;
    }
    .header_links-buttons-open {
      display: flex;
      animation: TransformMenu 300ms ease-in-out forwards;
    }
    .header_links-buttons .menu-close-button svg {
      fill: #4caf4f;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      padding-top: 10px;
    }
    .header_menu ul {
      flex-direction: column;
      align-items: start;
      margin-left: 10px;
      margin-top: 50px;
    }
    .header_menu ul li {
      margin: 10px 0;
    }
    .header_buttons {
      flex-direction: column;
      margin-left: 0;
      margin-top: 20px;
    }
    .header_buttons a {
      margin: 5px 0;
    }
    .header_container .logo {
      height: 60px;
    }
    .header .toggle-button {
      display: block;
      padding: 0;
      margin: 0;
    }
    .header .toggle-button svg {
      width: 30px;
      height: 30px;
      fill: #4caf4f;
    }
    @keyframes TransformMenu {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(initial);
      }
    }
  }
  .btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
  }
  
  .btn.btn-primary {
    background-color: #4caf4f;
    color: #fff;
    transition: 0.3s all ease-in-out;
  }
  
  .btn.btn-primary:hover {
    background-color: #1B5E1F;
  }
  
  .btn.btn-secondary {
    background-color: transparent;
    color: #4caf4f;
  }
  
  /* end style header */