body {
  background-color: #f8f9fa;
}

.signup-form {
  width: 550px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-control {
  margin-bottom: 15px;
}

.signup-btn {
  background-color: #28a745;
  color: white;
  font-weight: bold;
}
.signup-btn:hover{
  background-color: #218739;
  color: white;
}

.btn-reset, .btn-second {
  background-color: #f8f9fa;
  color: gray;
  border: none;
}
.btn-reset:hover{
  background-color: #e5e5ea;
}
.btn-second:hover{
  background-color: #d3d3d3;
}
.password-container span{
  position: absolute;
  top: 40%;
  right: 20px;
  cursor: pointer;
}

.signin-link {
  color: #28a745;
  text-decoration: none;
}

