thead span:hover{
  cursor: pointer;
  color: #28a745;
}

.hover{
  background-color: #28a745;
  cursor: pointer;
}

.icon-backward{
  height: 30px;
  width: 30px;
}
.btn-retour{
  background-color: aliceblue;
}
.btn-retour:hover{
  background-color: rgb(205, 216, 225);
}

.delete-all-btn svg{
  width: 20px;
  height: 20px;
}

.add-btn svg{
  width: 20px;
  height: 20px;
}

/*marques.php*/
.btn-list svg{
  width: 20px;
  height: 20px;
}
.btn-colonne svg{
  width: 20px;
  height: 20px;
}